L1_RPC=https://                 # L1 execution node RPC URL
L1_BEACON_RPC=https://          # L1 consensus node RPC URL
L2_RPC=https://                 # L2 execution node RPC URL
L2_NODE_RPC=https://            # L2 consensus node RPC URL 
EIGENDA_PROXY_ADDRESS=https://  # Eigen DA proxy URL

USE_KMS_REQUESTER=false         # Whether to expect NETWORK_PRIVATE_KEY to be an AWS KMS key ARN instead of a plaintext private key
NETWORK_PRIVATE_KEY=0x          # Succinct Prover Network private key
RANGE_PROOF_STRATEGY=reserved   # Proof strategy for Range Proof (default: reserved)
AGG_PROOF_STRATEGY=reserved     # Proof strategy for Aggregation Proof (default: reserved)
AGG_PROOF_MODE=plonk            # Proof mode for Aggregation Proof (default: plonk)

FACTORY_ADDRESS=                # Dispute Game Factory Address
GAME_TYPE=42                    # OP Succinct Fault Dispute Game Type
PROPOSER_ADDRESS=               # Proposer Address
PRIVATE_KEY=0x                  # Transaction Signer Private Key (Funded account on L1 or Anvil)